<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/theme.css') }}">
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/adminDashboard.css') }}">
        <title>Admin | Notification</title>
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1>Notifications</h1>
                <nav>
                    <ul>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">Historical Analysis</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            
        </main>
    </body>
</html>